.ui-input-dropdown {
  position: relative;
  max-width: 83px;
}

.ui-input-dropdown .ui-input {
  padding: 10.5px 40px 10.5px 16px;
  outline: none;
  cursor: pointer;

}

.ui-input-dropdown.active .ui-icon {
  transform: translateY(-50%) rotate(-180deg);
}

.ui-input-dropdown__dropdown {
  position: absolute;
  top: calc(100% + 4px);
  border-radius: 8px;
  left: 0;
  width: 100%;
  max-height: 230px;
  overflow-y: scroll;
  background-color: $white-color;
  box-shadow: 0px 0px 10px 0px $gray-color;
}

.ui-input-dropdown__option-wrap {
}

.ui-input-dropdown__option {
  padding: 11px 12px;
  cursor: pointer;
}

.ui-input-dropdown__option:hover {
  background-color: $gray-100;
}

.ui-input-dropdown__option.active {
  background-color: $gray-100;
}

.ui-input-dropdown__option-text {
  font-size: 12px;
}


//animation
.dropdown-enter-from, .dropdown-leave-to {
  opacity: 0;
}

.dropdown-enter-active, .dropdown-leave-active {
  transition: opacity 0.5s ease;
}

.dropdown-enter-to {
  opacity: 1;
}
//animation