.ui-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.ui-field__label {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
  color: $gray-500;
}

.ui-field__content {
  position: relative;
}